@page
@model BestelSysteem.Pages.Cart
@{
    ViewData["Title"] = "Cart";
}

<div class="container text-center">
    <h1>Cart</h1>
</div>

@if (Model.ItemsInCart != null && Model.ItemsInCart.Any())
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th> <!-- Added column for updating products -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ItemsInCart)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>$@item.Price</td>
                        <td>$@item.ProductTotal</td>
                        <td>
                            <form method="post" asp-page-handler="UpdateProduct" asp-route-productId="@item.ProductId">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="Quantity" value="@item.Quantity" min="0" max="@Model.GetProductStock(item.ProductId)"/>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container mt-5">
        <h3>Total: $@Model.Total</h3>
        <a href="/Overview" class="btn btn-primary">Continue Shopping</a>
    </div>
}
else
{
    <div class="container text-center">
        <p>Your cart is empty.</p>
        <a href="/Overview" class="btn btn-primary">Continue Shopping</a>
    </div>
}
